*.DS_Store
/css/*
/bower_components/*
/node_modules/*
.idea/*
apples.html
design-files/apples-comps/1.jpg
design-files/apples-comps/2.jpg
design-files/apples-comps/3.jpg
design-files/apples-comps/4.jpg
design-files/apples-comps/5.jpg
design-files/apples-comps/6.jpg
design-files/apples-comps/7.jpg
images/apples/1.jpg
images/apples/2.jpg
images/apples/3.jpg
images/apples/4.jpg
images/apples/5.jpg
images/apples/6.jpg
images/apples/7.jpg
images/apples/fotolia_42016391.jpg
images/apples/fotolia_60234006.jpg
images/apples/fotolia_64645583.jpg
images/apples/fotolia_70532784.jpg
images/apples/fotolia_70719803.jpg
images/apples/fotolia_78232417.jpg
images/apples/fotolia_79511345.jpg
