body {
  font-family: 'Montserrat', sans-serif;
}
.row.full {
  width: 100%;
  max-width: 100%;
}
a {
  font-weight: bold;
}
.handwriting {
  font-family: 'Short Stack', cursive;
  font-size: 1.1em !important;
}
.pnone-number {
  white-space: nowrap;
}
}