body {
  font-family: 'Montserrat', sans-serif;
}
.row.full {
  width: 100%;
  max-width: 100%;
}
a {
  font-weight: bold;
}
.handwriting {
  font-family: 'Short Stack', cursive;
  font-size: 1.1em !important;
}
.pnone-number {
  white-space: nowrap;
}
/* Add padding to floated images */
.left img, figure.left {
  margin-right: 1em;
}

.right img, figure.right {
  margin-left: 1em;
}
figure.right img  {
  margin: 0;
}
.image-40 {
  width: 40%;
}
figure {
  border: 1px solid $base;
  border-radius: 0 0 3px 3px;
  border-radius: 3px;
  overflow: hidden;
  margin: 0;
  figcaption {
    padding: 5px;
    font-size: 0.85em;
    font-family: "Open Sans";
  }
}