header {
  &.hero {
    background-image: url("http://www.palmettoofclemson.com/wp-content/uploads/2013/10/personal.jpg");
    background-size: cover;
    min-height: 230px;
    background-position: 46% 49%;
    height: 20vw;
    max-height: 300px;
  }

  .logo-background {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 25px;
    padding: 10px;
  }
  h1 {
    font-size: 3.3vmax;
    margin: 0;
    padding: 0 0.4em;
    line-height: 1em;
    color: $mdc-blue;
  }
  h2 {
    padding: 0 1em;
    margin: 0;
    line-height: 1em;
    color: $mdc-green-dark;
    font-size: 1.8vmax;
  }
}

@media only screen and (max-width: 40em) {
  header {
    &.hero {
      min-height: 90px;
    }
    .logo-background {
      top: 5vw;
      padding: 6px;
    }
    h2 {
      font-size: 2vmax;
      padding: 0;
    }
  }
}